
/* CSS Reset */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Montserrat';
	/* background:
	url(https://images.pexels.com/photos/1216351/pexels-photo-1216351.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
	    ;
	    background-repeat: repeat;
	background-size: cover;
	background-attachment: fixed; */
}

/* Landing section */

/* #landing {
	background:
linear-gradient(to top,

rgba(300, 100, 100, 0),
rgba(200, 100, 100, 0.75)
),

	url(https://images.pexels.com/photos/1294229/pexels-photo-1294229.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
	;
	background-repeat: repeat;
	background-size: cover;
	background-attachment: fixed;
	color: white;
} */

/* Contact section */
#contact {
	background: #909495;
	
}

/* #landingTop {
	background:
linear-gradient(

rgba(77, 31, 0, 75),
rgba(0, 0, 0, 0.75)
),

	url(https://images.pexels.com/photos/3774674/pexels-photo-3774674.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
	;
	background-repeat: repeat;
	background-size: cover;
	background-attachment: fixed;
	
} */


/* Deleted width and height for the google map and added an ID */
/* Google Map, 100% width means it will occupy 100% of the width if the conntainer*/
#gMap {

	width: 100%;
	display: block;
	border: none;
	height: 62vh;
	border-radius: 10px;
}

nav {
	background: White;
	font-weight: bold;
	color: white;
	opacity: 0.6;
}

#nav-item {
	color: red;
}

#portfolio	 {

background:
/* 	linear-gradient(

rgba(77, 31, 0, 75),
rgba(0, 0, 0, 0.75)
), */

	url(https://images.pexels.com/photos/1323712/pexels-photo-1323712.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
    ;
	background-repeat: repeat;
	background-size: cover;
	background-attachment: fixed;
	
}

footer {
	/* background: #5B2C6F; */
	background: #F8F9F9;
	opacity: 0.9;
}

#imgDindin {
	border-radius: 50%;
	border-style: solid;
	/* border-color: #2471A3; */
	border-color: white;
}


#skills {
	background: #F8F9F9;
	/* height: 100vh; */
}

#landing {
	height: 100vh;
	background:
	
	url(https://images.pexels.com/photos/3774674/pexels-photo-3774674.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
	    ; 
}

#nav-item {
	color: black;
}

/* #navbarContainer {
	height: 100vh;
} */